@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container">
    <h1>@ViewData["Title"]</h1>

    <!-- Contenido personalizado (opcional) -->
    <div class="mt-4">
        <h3>ReseñasDW protege tu información</h3>
        <p class="lead">Tus datos de reseñas y perfil son gestionados con seguridad.</p>
    </div>
</div>
